<footer>
    <div class="container">
        <div class="row">
            <div class="navfooter col-12 col-md-2">
                <p class="nameproduct">Service client</p>
                <nav class="d-block w-100 text-left">
                    <ul class="list">
                        <li><a href="">CGU</a></li>
                        <li><a href="">CGV</a></li>
                        <li><a href="">Mentions légales</a></li>
                        <li><a href="">Livraison</a></li>
                        <li><a href="">Connexion/Inscription</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navfooter col-12 col-md-2">
                <p class="nameproduct">Lemon Queen</p>
                <nav class="d-block w-100 text-left">
                    <ul class="list">
                        <li><a href="">Notre histoire</a></li>
                        <li><a href="">Formulaire</a></li>
                        <li><a href="">Journal</a></li>
                        <li><a href="">Shop</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navfooter col-12 col-md-2">
                <p class="nameproduct">Informations</p>
                <p>Lemon Queen</br>
                    PLACE WILSON</br>
                    06000 NICE</br>
                    FRANCE</p>
            </div>

            <div class="navfooter col-12 col-md-6 mx-auto">
                <p class="nameproduct">Devenez reine à votre tour et </br> recevez notre newsletter</p>
                <form>
                    <input type="email" name="newsletter" method="post">
                    <input type="submit" name="s'abonner"
                        style="background: linear-gradient(-90deg,#fcdb4e, #fcc1f6, #d3cb65); width:150px;">
                </form>
                <p class="rule">Vous pouvez vous désinscrire à tout moment.
                    Vous trouverez pour cela nos informations de contact
                    dans les conditions d'utilisation du site.</p>

            </div>
        </div>
    </div>
</footer>