<!-- NAVBAR-->
<header id="header" class="container-fluid">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 text-left">
                <p><a href="">Français</a></p>
            </div>
            <div class="col-3 text-left">
                <p><a href="">Rechercher</a></p>
            </div>
            <div class="col-3 text-right">
                <p><a href="">Connexion/Inscription</a></p>
            </div>
            <div class="col-3 text-right">
                <p><a href="">Panier</a></p>
            </div>
        </div>
        <div class="row">
            <div class="d-none col-md-4 d-md-block p-0">
                <nav class="navbar p-0 d-block w-100 text-left">
                    <ul class="p-0">
                        <li class="left"><a href="">Accueil</a></li>
                        <li class="left"><a href="">Notre histoire</a></li>
                        <li class="left"><a href="">Shop</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-12 col-md-4 m-0">
                <div class="identite_visuelle mx-auto">
                    <img src="img/logo_lemon-queen.png" alt="logo" id="logo">
                </div>

                <div class="accroche mx-auto">
                    <p class="baseline">Règnez sur votre beauté</p>
                </div>
            </div>

            <div class="d-none col-md-4 d-md-block p-0">
                <nav class="navbar p-0 d-block w-100 text-right">
                    <ul class="p-0">
                        <li class="right"><a href="">Formulaire Citron</a></li>
                        <li class="right"><a href="">Journal</a></li>
                        <li class="right"><a href="">Contactez-nous</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>